<div id="<%= dom_id unit %>">
  <p>
    <strong>Name:</strong>
    <%= unit.name %>
  </p>

  <p>
    <strong>Port:</strong>
    <%= unit.port %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= unit.active %>
  </p>

  <p>
    <strong>Friendly:</strong>
    <%= unit.friendly %>
  </p>

</div>
